@import url(https://fonts.googleapis.com/css?family=Raleway:200,500,700,800);
@import url(https://fonts.googleapis.com/css?family=Lato);

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  overflow-y: scroll;
}
#container {
  margin-top: 500px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.input {
  position: relative;
  margin: 0.7rem;
  width: 80%;
  height: 70px;
}

.input__field {
  position: absolute;
  margin: 0.8em 0;
  padding: 0.4em;
  width: 100%;
  height: calc(100% - 1.6em);
  border-radius: 0;
  border: none;
  background: transparent;
  color: #232323;
  font-size: 1.55em;
  font-weight: bold;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  cursor: pointer;
  position: absolute;
  padding: 0 1em;
  margin: 1.2em 0;
  width: 100%;
  height: calc(100% - 2.4em);
  color: #232323;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  text-align: center;
  position: relative;
  display: block;
  padding: 1.5em 0;
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input__label::before,
.input__label:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.5px;
  background: #232323;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input__field:focus + .input__label .input__label-content,
.input--filled .input__label-content {
  -webkit-transform: translate3d(0, -90%, 0);
  transform: translate3d(0, -90%, 0);
}

.input__field:focus + .input__label::before,
.input--filled .input__label::before {
  -webkit-transform: translate3d(0, -0.5em, 0);
  transform: translate3d(0, -0.5em, 0);
}

.input__field:focus + .input__label::after,
.input--filled .input__label::after {
  -webkit-transform: translate3d(0, 0.5em, 0);
  transform: translate3d(0, 0.5em, 0);
}

#send-button {
  width: 200px;
  height: 60px;
  font-weight: bold;
  font-size: 70.25%;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  outline: 0;
  background-color: #fff3f3;
  border: 1px solid #000;
  color: #000;
}

#send-button:hover,
#send-button:focus {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
   background-color: #232323;
  color: #fff3f3;
  border: 0;
  
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff3f3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
