@import './main-container';
@import './form';

*{
    padding: 0;
    margin: 0;
}

html, body{
    overflow-x: hidden;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    max-height: 300px;
    height: 300px;
    min-width: 630px;
    width: 630px;
    border: 1px solid #000;
    background-color: #fff3f3;
    

    @include center();
}

